<div class="row">
  <div class="section-box text-center panel large-6 medium-8 small-12
  large-centered medium-centered small-centered columns">
    <%= image_tag(@user.profile_photo, class: "user-profile") %>
    <h1 class="section-title"><%= @user.username %></h1>
    <h3 class="section-title"><%= @user.email %></h3>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <% @user.tattoos.each do |tattoo| %>
      <div class="large-4 medium-6 small-12 columns end">
        <div class="tattoo-box">
          <a href="<%= tattoo_path(tattoo) %>"><img class="fillwidth" src="<%= tattoo.url %>"></a>
        </div>
        <div class="panel">
          <h5 class="tattoo-title text-center"><%= link_to tattoo.title, tattoo_path(tattoo) %></h5>
          <% if current_user == @user || current_user.admin? %>
            <%= button_to 'Delete', tattoo_path(tattoo),
              method: :delete, id: "delete-#{tattoo.id}", class: "tiny button" %>
          <% end %>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
