<div>
  <h2><%= @user.username %></h2>
  <%= @user.email %>
  <%= @user.avatar %>
</div>

<% @user.tattoos.each do |tattoo| %>
  <div class="tattoo">
    <%= tattoo.url %>
    <%= tattoo.title %>
    <%= button_to 'Delete Tattoo', tattoo, method: :delete, id: "#{tattoo.id}" %>
  </div>
<% end %>
