<div class="row">
  <div class="section-box text-center panel large-6 medium-8 small-12
  large-centered medium-centered small-centered columns">
    <%= image_tag(@user.profile_photo, class: "user-profile") %>
    <h1 class="section-title"><%= @user.username %></h1>
    <h3 class="section-title"><%= @user.email %></h3>
  </div>
</div>
<% if current_user == @user %>
  <div class="row content text-center">
    <button data-remote="true" class="round info button button-edit-form">Account Settings</button>
    <div class="hide editform">
      <div class="account-box">
        <div class="account-settings clearfix">
          <%= form_for(@user, url: registration_path(@user), html: { method: :put }, class: "settings-form") do |f| %>
            <fieldset>
              <legend>Account Settings</legend>

              <div>
                <div class="large-6 columns">
                  <div class="field">
                    <%= f.label :username %>
                    <i>(15 characters maximum)</i><br />
                    <%= f.text_field :username %>
                  </div>
                </div>
                <div class="large-6 columns">
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true %>
                  </div>
                </div>
              </div>

              <div>
                <div class="large-6 columns">
                  <div class="field">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>
                </div>
                <div class="large-6 columns">
                  <div class="field">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off" %>
                  </div>
                </div>
              </div>

              <div class="field">
                <%= f.label :current_password %> <i>** we need your current password to confirm your changes **</i>
                <%= f.password_field :current_password, autocomplete: "off" %>
              </div>

              <div class="field">
                <label>My profile photo</label>
                <%= image_tag(@user.profile_photo, class:"user-profile") if @user.profile_photo %>
                <%= f.file_field :profile_photo %>
              </div>

              <div class="actions">
                <ul class="right button-group round even-2 large-4 medium-8 small-12 columns">
                  <li><%= link_to "Back", :back, class: "small secondary button" %></li>
                  <li><%= f.submit "Update", class: "small button" %></li>
                </ul>
              </div>
            </fieldset>
          <% end %>
        </div>
        <div class="cancel-account">
          <p>
            Unhappy?
            <%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "button alert round" %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <% @user.tattoos.each do |tattoo| %>
      <div class="large-4 medium-6 small-12 columns end">
        <div class="tattoo-box">
          <a href="<%= tattoo_path(tattoo) %>"><img class="fillwidth" src="<%= tattoo.url %>"></a>
        </div>
        <div class="panel">
          <h5 class="tattoo-title text-center"><%= link_to tattoo.title, tattoo_path(tattoo) %></h5>
          <% if current_user == @user || current_user.admin? %>
            <%= button_to 'Delete', tattoo_path(tattoo),
              method: :delete, id: "delete-#{tattoo.id}", class: "tiny button" %>
          <% end %>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
