<div class="section-box panel large-centered small-centered
 large-4 medium-6 small-8 columns">
  <h1 class="section-title text-center"><%= @tattoo.title %></h1>
  <%= image_tag(@tattoo.url, class: "tattoo_image large-centered small-centered") %>
  <br>
  <% if @tattoo.description.present? %>
    <h3 class="text-center"><%= @tattoo.description %></h3>
  <% end %>
  <% if @tattoo.studio.present? %>
    <h5 class="text-center">Studio: <%= @tattoo.studio %></h5>
  <% end %>
  <% if @tattoo.artist.present? %>
    <h5 class="text-center">Artist: <%= @tattoo.artist %></h5>
  <% end %>
  <% unless @tattoo.reviews.empty? %>
    <h5 class="text-center">Average Rating: <%= @tattoo.average_rating %>/5</h5>
  <% end %>
    <ul class="button-group even-2">
      <li><%= link_to 'Edit', edit_tattoo_path(@tattoo), class: "button tiny" %></li>
      <li><%= button_to 'Delete', @tattoo, method: :delete,
          class: "button tiny alert" %></li>
    </ul>
</div>

<div class="reviews_list large-6 medium-8 small-12 large-centered small-centered columns">
  <% if @tattoo.reviews.empty? %>
  <div class="panel">
    <h6>No reviews yet, add one?</h6>
  </div>
  <% else %>
    <table>
      <% @reviews.each do |review| %>
        <tr>
          <td>
            <%=link_to image_tag("/thumbup.png"),
          review_upvote_path(review),
          method: :post
          %></td>
          <td class=<%="score_#{review.id}"%>><%= review.score %></td>
          <td><%= link_to image_tag("/thumbdown.png"),
          review_downvote_path(review),
          method: :post
          %></td>
          <td>Rating: <%= review.rating %></td>
          <td><%= review.body %></td>
          <td>Review by: <%= review.user.username %></td>
          <% if review.user == current_user %>
            <td><%= link_to 'Edit Review', edit_review_path(review), class: "edit_review" %></td>
            <td><%= button_to 'Delete Review', review, method: :delete, class: "delete_review" %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<div class="section-box panel large-6 medium-8 small-12 large-centered small-centered columns">
<h4>Rate this Ink</h4>
  <div class="review_box small-12">
    <%= form_for([@tattoo, @review]) do |f| %>

      <%= f.label :rating %>
      <%= f.number_field :rating  %>

      <%= f.label :body, "Review" %>
      <%= f.text_area :body %>

      <%= f.submit "Submit", class: "submit_class button expand round" %>
    <% end %>
  </div>
</div>
