<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/duck_favicon.gif" />
  <title>CodersInk</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Miltonian+Tattoo' rel='stylesheet' type='text/css'>
  <%- flash.each do |key, value| -%>
    <div class="large-12 alert-box <%= key %>">
      <%= value %>
    </div>
  <%- end -%>
  <%= render "layouts/topbar" %>
  <section class="main">
    <%= yield %>
  </section>
  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
<script>
  function sideNav() {
    if ($(window).width() < 769) {
      $('.off-canvas-wrap').removeClass('move-right');
      $('.left-off-canvas-toggle').show();
    } else {
      $('.off-canvas-wrap').addClass('move-right');
      $('.left-off-canvas-toggle').hide();
    }
  }

  $(window).resize(function() {
    sideNav();
  });
</script>
</body>
</html>
